:root {
  --black-color: #010000;
  --white-color: #ffffff;
  --lightgray-color: #ededed;
}



.App {
  font-size: 18px;
  height: auto;
  width: 100%;
  /* font-weight: 400; */
  /* font-style: normal; */
  padding: 120px 0;
  background-color: var(--lightgray-color);
}


.container {
  height: auto;
  padding: 0px;
}

.container h1 {
  text-align: center;
  font-size: 2rem;
}

.profileImage {
  object-fit: cover;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin:50px 0;
}

img {
  width: 300px;
  height: 500px;
}

.service {
  margin: 100px 0;
}

#skill {
  margin-bottom: 100px;
}

#skill img {
  object-fit: cover;
  margin: 0px 0 30px 0;
  height: 300px;
}

#skill button {
  margin-bottom: 100px;
}
.col-md-4 a {
  text-decoration: none;
}
